.container-users{
    text-align: center;
}

.card-item {
    width: 275px;
    text-align: "center";
    margin: 20px 10px;
}

.container-users h1 {
    margin: 30px 0;
}
.user-in-system {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 500px) {
    .user-in-system {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .card-item {
        margin: 10px auto;
    }
}